* {
    border: 1px solid red;
}
#content {
    background-color: pink;
}
h1 {
    font-size: 2em;
    text-align: center;
    color:white;
}
h1.hover {
    color: black;
}
#steps {
    width: 60%;
    margin:0 auto;
}
img {
    width: 40%;
    margin: 0px auto;
}
.text {
    margin:0 auto;
    text-align: center;
    width: 70%;
    color: white;
    font-size: 1em;
}
.name {
    text-align: center;
    color: white;
    font-weight: 900;
}